# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
__pycache__/
venv/Include/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/_pytest/__pycache__/
venv/Lib/site-packages/_pytest/_code/__pycache__/
venv/Lib/site-packages/_pytest/_io/__pycache__/
venv/Lib/site-packages/_pytest/assertion/__pycache__/
venv/Lib/site-packages/_pytest/config/__pycache__/
venv/Lib/site-packages/_pytest/mark/__pycache__/
venv/Lib/site-packages/apipkg/__pycache__/
venv/Lib/site-packages/atomicwrites/__pycache__/
venv/Lib/site-packages/attr/__pycache__/
venv/Lib/site-packages/colorama/__pycache__/
venv/Lib/site-packages/execnet/__pycache__/
venv/Lib/site-packages/execnet/script/__pycache__/
venv/Lib/site-packages/importlib_metadata/__pycache__/
venv/Lib/site-packages/importlib_metadata/docs/__pycache__/
venv/Lib/site-packages/importlib_metadata/tests/__pycache__/
venv/Lib/site-packages/importlib_metadata/tests/data/__pycache__/
venv/Lib/site-packages/more_itertools/__pycache__/
venv/Lib/site-packages/more_itertools/tests/__pycache__/
venv/Lib/site-packages/packaging/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/lockfile/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pytoml/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/__pyca
che__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pluggy/__pycache__/
venv/Lib/site-packages/py/__pycache__/
venv/Lib/site-packages/py/_code/__pycache__/
venv/Lib/site-packages/py/_io/__pycache__/
venv/Lib/site-packages/py/_log/__pycache__/
venv/Lib/site-packages/py/_path/__pycache__/
venv/Lib/site-packages/py/_process/__pycache__/
venv/Lib/site-packages/py/_vendored_packages/__pycache__/
venv/Lib/site-packages/pytest_forked/__pycache__/
venv/Lib/site-packages/selenium/__pycache__/
venv/Lib/site-packages/selenium/common/__pycache__/
venv/Lib/site-packages/selenium/webdriver/__pycache__/
venv/Lib/site-packages/selenium/webdriver/android/__pycache__/
venv/Lib/site-packages/selenium/webdriver/blackberry/__pycache__/
venv/Lib/site-packages/selenium/webdriver/chrome/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/actions/__pycache__/
venv/Lib/site-packages/selenium/webdriver/common/html5/__pycache__/
venv/Lib/site-packages/selenium/webdriver/edge/__pycache__/
venv/Lib/site-packages/selenium/webdriver/firefox/__pycache__/
venv/Lib/site-packages/selenium/webdriver/ie/__pycache__/
venv/Lib/site-packages/selenium/webdriver/opera/__pycache__/
venv/Lib/site-packages/selenium/webdriver/phantomjs/__pycache__/
venv/Lib/site-packages/selenium/webdriver/remote/__pycache__/
venv/Lib/site-packages/selenium/webdriver/safari/__pycache__/
venv/Lib/site-packages/selenium/webdriver/support/__pycache__/
venv/Lib/site-packages/selenium/webdriver/webkitgtk/__pycache__/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/urllib3/packages/rfc3986/__pycache__/
venv/Lib/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/wcwidth/__pycache__/
venv/Lib/site-packages/wcwidth/tests/__pycache__/
venv/Lib/site-packages/xdist/__pycache__/
venv/Lib/site-packages/xdist/scheduler/__pycache__/
